<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>print User</title>
</head>
<body>
<table border = "1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>lastName</th>
        <th>email</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    <tr th:each ="user : ${users}">
        <td th:utext="${user.id}"></td>
        <td th:utext="${user.firstName}"></td>
        <td th:utext="${user.lastName}"></td>
        <td th:utext="${user.email}"></td>
        <td><form th:method="DELETE" th:action="@{/{id}(id=${user.id})}">
            <input type="submit" value="Delete"/>
        </form></td>
        <td><a th:href="@{/update/{id}(id=${user.id})}">Update</a></td>
    </tr>
</table>
<td><a th:href="@{/new}">New User</a></td>
</body>
</html>